name: Run MongoDB Server
on: [push, pull_request]
jobs:

  start-default:
    name: Run MongoDB Server (default) ${{ matrix.mongodb-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mongodb-version: ['8.0', 'latest']
      fail-fast: false
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Start Server ${{ matrix.mongodb-version }}
      uses: ./
      with:
        mongodb-version: ${{ matrix.mongodb-version }}
    - name: Checkout Tests
      run: git clone https://github.com/MongoCamp/docker-mongodb.git
    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21
    - name: Setup sbt launcher
      uses: sbt/setup-sbt@v1
    - name: Check Server
      env:
        mongodb-version: ${{ matrix.mongodb-version }}
        mongodb-port: 27017
        mongodb-username: 'root'
        mongodb-pwd: 'NONE'
        mongodb-replica-set: ''
      run: cd docker-mongodb/test; # sbt test;

  start-all:
    name: Run MongoDB Server ${{ matrix.mongodb-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mongodb-version: ['8.0', 'latest']
        mongodb-port: [ '27017', '4711' ]
        mongodb-username: [ 'root', 'test' ]
        mongodb-pwd: [ 'NONE', 'hello-world' ]
        mongodb-replica-set: [ '', 'my-replication' ]
      fail-fast: false
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Start Server ${{ matrix.mongodb-version }}
      uses: ./
      with:
        mongodb-version: ${{ matrix.mongodb-version }}
        mongodb-port: ${{ matrix.mongodb-port }}
        mongodb-username: ${{ matrix.mongodb-username }}
        mongodb-pwd: ${{ matrix.mongodb-pwd }}
        mongodb-replica-set: ${{ matrix.mongodb-replica-set }}
    - name: Checkout Tests
      run: git clone https://github.com/MongoCamp/docker-mongodb.git
    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21
    - name: Setup sbt launcher
      uses: sbt/setup-sbt@v1
    - name: Check Server
      env:
        mongodb-version: ${{ matrix.mongodb-version }}
        mongodb-port: ${{ matrix.mongodb-port }}
        mongodb-username: ${{ matrix.mongodb-username }}
        mongodb-pwd: ${{ matrix.mongodb-pwd }}
        mongodb-replica-set: ${{ matrix.mongodb-replica-set }}
      run: cd docker-mongodb/test; # sbt test;

  release:
    needs:
      - start-default
      - start-all
    runs-on: ubuntu-latest
    steps:
    - name: Git Checkout
      uses: actions/checkout@v3.0.0
      with:
        fetch-depth: 0
    - name: Create Release
      uses: ncipollo/release-action@main
      with:
        allowUpdates: true
        draft: false
        makeLatest: true
        name: ${{ github.ref_name }}
        body: ${{ steps.changelog.outputs.changes }}
        token: ${{ github.token }}

    - name: Commit CHANGELOG.md
      uses: stefanzweifel/git-auto-commit-action@master
      with:
        branch: main
        commit_message: 'docs: update CHANGELOG.md for ${{ github.ref_name }}'
        file_pattern: CHANGELOG.md